@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  --light-bg: #d84040;
  --dark-bg: #a31d1d;
  --text-light: #ecdcbf;
  --text-dark: #f8f2de;
  --text-white: #fff;
  --text-black: #000;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  padding: 0;
  margin: 0;
}
